$logo-size: 48px;

.page-header {
  border-bottom: 1px solid $brand-primary;
  margin: 0 auto 30px auto;
  padding: 0;

  .container-fluid {
    color: #fff;
    height: $logo-size + $grid-gutter-width * 2;
    padding: $grid-gutter-width;
    padding-left: $logo-size + $grid-gutter-width * 2;

    @media (min-width: $screen-sm-min) {
      background-image: url(/assets/images/explore.png);
      background-position: right bottom;
      background-repeat: no-repeat;
    }

    h1 {
      font-size: 20px;
      margin: 0 0 5px 0;
    }

    p {
      color: #999;
    }

    .logo {
      display: inline-block;
      height: $logo-size;
      width: $logo-size;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .contact-details {
      height: 108px;
      list-style: none;
      padding: 25px 0;
      margin: 0;

      li {
        color: #666;
        font-size: 14px;
        line-height: 24px;

        span {
          display: inline-block;
        }
      }
    }
  }
}

.navigation {
  background: #f7f7f7;
  border-top: 1px solid $brand-primary;

  ul {
    float: left;
    margin: 0;
    padding: 0;
    width: 70%;

    li {
      display: inline-block;

      a {
        display: block;
        padding: 12px 15px;
        border-right: 1px solid #e5e5e5;
      }
    }
  }

  form {
    float: right;
    margin: 0;
    width: 30%;
    position: relative;

    .fa-search {
      position: absolute;
      top: 14px;
      left: 14px;
    }

    .form-control {
      @include box-shadow(none);
      background: none;
      border: none;
      border-left: 1px dotted lighten($brand-primary, 20%);
      border-radius: 0;
      height: 43px;
      padding-left: 36px;

      &:focus {
        @include box-shadow(inset 0 0 2px lighten($brand-primary, 10%));
        border-left: 1px solid $brand-primary;
      }
    }
  }
}

.sidebar {
  .panel > .nav-stacked {
    &, a {
      color: #333;
    }

    > li > a {
      font-weight: bold;
      background: #f7f7f7;
      border-bottom: 1px solid #e5e5e5;
    }

    .nav-stacked {
      &, a {
        color: #666;
      }

      font-size: .8em;
      font-family: monospace;
    }
  }
}
