---
layout: default
---

<div class="container">

  <div class="row">
    <div class="col-sm-8 col-sm-push-4">

      <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>

      <p>{{ content }}</p>
    </div>

    <div class="col-sm-4 col-sm-pull-8 category">
      {% assign articles = site.articles | where:"category", page.category %}
      {% assign articlesnapshot = articles | sort:"rank" %}
      <h4>
        {{page.category}}
        <span class="badge">
          {{articles | size}}
        </span>
      </h4>

      <ul class="list-unstyled">
      {% for article in articlesnapshot %}
        <li>
          <a href="{{article.url}}">
            <span class="fa fa-fw fa-file-text"></span>
            {{article.title}}
          </a>
        </li>
      {% endfor %}
      </ul>
      <p>
        <a href="/faq">
          <span class="fa fa-fw fa-arrow-left"></span>
          Back to FAQs
        </a>
      </p>
    </div>

</div>
